/* .founder1 {
  margin: 13px;
  margin-left: 0;
}
.founder2 {
    margin: 13px;
    margin-right: 0;
  } */
  /* .founder{
    margin: 5px
  } */
.Card:hover {
  border-color: #4f46e5; /* Change to the desired color */
  background-color: #e9f6fc !important;
}

/* Optional: Add transition effect for smooth color change */
.Card {
  transition: border-color 0.3s ease;
  /* background-color: #e9f6fc !important; */
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease forwards;
}
