.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.leading-company-box {
  position: relative;
  padding-left: 100px;
  background-color: white;
  padding-top: 12px;
  margin: 6px;
  border-radius: 11px !important;
}

.leading-company-box:before {
  content: "";
  position: absolute;
  left: 8px;
  width: 80px;
  height: 90px;
  background-size: cover;
  border-radius: 11px !important;
}

.lcb13:before {
  background-color: #fc9290;
  background-image: url(../../../Images/www\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}

.lcb14:before {
  background-color: #ffb379;
  background-image: url(../../../Images/security\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}

.lcb15:before {
  background-color: #5fdbba;
  background-image: url(../../../Images/team\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}

.lcb16:before {
  background-color: #b2e388;
  background-image: url(../../../Images/reporting\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}

.lcb17:before {
  background-color: #93d6f2;
  background-image: url(../../../Images/escalation\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}

.lcb18:before {
  background-color: #fc9290;
  background-image: url(../../../Images/support\ image.png);
  background-position: center;
  background-size: 61px;
  background-repeat: no-repeat;
}