.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.leading-company-box {
  position: relative;
  padding-left: 100px;
  background-color: white;
  padding-top: 12px;/* Adjust this value as needed */
  margin: 6px;
}

.leading-company-box:before {
  content: "";
  position: absolute;
  /* top: 0; */
  left: 8px;
  width: 80px;
  height: 90px;
  border-radius: 4px;
  background-size: cover;
}

.lcb13:before {
  background-color: #fc9290;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3424px 2px;
}

.lcb14:before {
  background-color: #ffb379;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3514px 2px;
}

.lcb15:before {
  background-color: #5fdbba;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3604px 2px;
}

.lcb16:before {
  background-color: #b2e388;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3694px 2px;
}

.lcb17:before {
  background-color: #93d6f2;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3784px 2px;
}

.lcb18:before {
  background-color: #fc9290;
  background-image: url(../../../Images/hire-services-icon.webp);
  background-position: center;
  background-position: -3874px 2px;
}
.main{
  background-color: #e9f6fc;
}
