/* .toggle-committee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:  50px auto;
    font-family: 'Poppins';
    font-weight: 300;

    
} */
.toggle-committee .active.optn{
    /* background-color: rgb(25, 115, 154); */
    color: var(--second-color);
    padding: 10px;
    opacity: 100%;
    border-radius: 0px;
    border-bottom: 2px solid var(--second-color);
    
}

.toggle-committee .optn{
    /* color: #ece7e1; */
    padding: 10px;
    /* border-radius: 5px; */
    color: black;
    opacity: 85%;
    /* border: 1px solid black; */
    background-color: white;
}
.bg-img-2{
    background-image: url("../../Images/pattern-randomized.png") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

