    /* .nav-menu .link:hover{
        background-color: var(--second-color);
        color: white;
        border-bottom: 2px solid white;
    } */
    .nav-menu .link {
      position: relative; 
  }
  
  .nav-menu .link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0%; 
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.3s ease, left 0.3s ease; 
  }
  
  .nav-menu .link:hover::before {
      width: 100%;
      left: 0; 
  }
  
    .nav-menu{
        gap: 5px;
    }

    .nav-menu .active{
        background-color: transparent;
        border-radius: 0px;
        color: white;
    }
    .nav-menu .active::before {
      width: 100%; 
      left: 0;
  }

    .nav-menu .link{
        padding: 5px 5px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.5px;
        color: white;
    }