.heading-line:before {
  background-color: #0578aa;
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: watermark-animate 3s linear infinite alternate-reverse;
}

@keyframes watermark-animate {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
