.dinesh{
    background-image: url(../../../Images/pattern-randomized.png) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}