.about-under {
    width: 204px;
}
.dinesh{
    background-image: url(../../../Images/smoke.png) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}