.bg-img2{
    background-image: url(../../Images/img-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image{
    background-image: url(../../Images/pattern-randomized.png) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}