@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=PT+Sans&family=Rubik&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Poppins&family=Ubuntu:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root 
{
    /* --main-color:#e9f6fc; */
    --second-color: #25aae1;
}

::-webkit-scrollbar
{
    width: 0.5rem;
}
::-webkit-scrollbar-track
{
    background-color: #cccccc ;
}
::-webkit-scrollbar-thumb
{
    background-color:#25aae1;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip:content-box;
}

.skeleton {
  @apply bg-gray-300 rounded-md animate-pulse;
}


/* Add this CSS to your stylesheet or within a <style> tag in your component */
  
/* --main-color:#e9f6fc;
    --second-color: #25aae1; */
    

  @keyframes floatTree {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-16px) translateX(6px) rotate(0.6deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes floatIcon {
  0% {
    transform: translate(-50%, -50%) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

