@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=PT+Sans&family=Rubik&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Poppins&family=Ubuntu:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root 
{
    --main-color:#e9f6fc;
    --second-color: #25aae1;
}

::-webkit-scrollbar
{
    width: 0.5rem;
}
::-webkit-scrollbar-track
{
    background-color: #cccccc ;
}
::-webkit-scrollbar-thumb
{
    background-color:#25aae1;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip:content-box;
}

/* Add this CSS to your stylesheet or within a <style> tag in your component */
  
/* --main-color:#e9f6fc;
    --second-color: #25aae1; */